@model IEnumerable<PayrollApp.Models.Employment.Department>


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            <a class="btn btn-primary " asp-action="EditDepartment" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>

            <button title="Edit" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-danger deleteDepartment" data-toggle="modal"><i class="fas fa-trash"></i></button>
        </td>
    </tr>

    <tr class="d-none" id="trEmployee">


        <td>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>


        <td>
            <a class="btn btn-primary " asp-action="EditDepartment" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
            <button title="Edit" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-danger deleteDepartment" data-toggle="modal"><i class="fas fa-trash"></i>Delete</button>
        </td>
    </tr>
}